@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    overflow-x: hidden;
    background: linear-gradient(45deg, #030118f6 43%, #090979 82%, #1f1672e3 100%);
    background-size: 400% 400%;
    animation: nice 19s, ease infinite;
}


@keyframes nice{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 50% 70%;
    }
    100% {
        background-position: 70% 100%;
    }
}

/*isso aqui acabou com as sobras laterais, escondeu tudo*/



/*coprighting css menu*/
a {
    color: aliceblue;
    text-decoration: none;
    transition: 1s;
    font-size: 1.3rem;
}

a:hover {
    opacity: 0.9;
    color: red;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #e9ba5c;
    height: 8vh;
}
/*
main {

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 92vh;                   
}
*/
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

/*responsividade*/

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 3px;
    background: green;
    margin: 9px;
    transition: 0.3s;
}

@media (max-width: 600px) {
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #680d68;
        color: #e9ba5c;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 1;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}
/*ufa*/

@keyframes navlinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/* xzinho do menu*/

.mobile-menu.active .linha1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .linha2{
    opacity: 0;
}

.mobile-menu.active .linha3{
    transform: rotate(45deg) translate(-5px, -7px);
}

/*amem*/

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 35px;
    width: 100%;
    background-image: url(../imagemsite/starsAgoraVai-removebg-preview.png);
}

section::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background: linear-gradient(#aab32c, #3db63d);
    border-radius: 50%;
    transform: translate(-420px, -180px);
}

section::after{
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(#881111, #0d0f7e);
    border-radius: 50%;
    transform: translate(400px, 180px);
}

.container{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background-color: rgba(85, 86, 92, 0.11);
    box-shadow: 0 25px 45px #0a0b275e;
    border-radius: 12px;
    border-right: 1px solid rgba(104, 99, 99, 0.336);
    border-bottom: 1px solid rgba(104, 99, 99, 0.123);
    overflow: hidden;
    backdrop-filter: blur(25px);
}

.container::before{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: #2528e013;
    pointer-events: none;
    transform: skewX(-45deg);
}

.container h2{
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-size: 2em;
    margin: 10px;
}

.container .linha100{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, min-max(250px,1fr));
}

.container .linha100 .coluna{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 20px 0 18px;
}

/*daqui para traz ok*/

.container .linha100 .coluna .inputBox{
    position: relative;
    width: 100%;
    height: 40px;
    color: #09c6ff;
}

.container .linha100 .coluna .inputBox input,
.container .linha100 .coluna .inputBox textarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 0 10px;
    z-index: 1;
    color: #000000;
}

.container .linha100 .coluna .inputBox .texto{
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.container .linha100 .coluna .inputBox input:focus+ .texto,
.container .linha100 .coluna .inputBox input:valid + .texto,
.container .linha100 .coluna .inputBox textarea:focus+ .texto, 
.container .linha100 .coluna .inputBox textarea:valid + .texto{
    top: -35px;
    left: -10px;
}

.container .linha100 .coluna .inputBox .linha{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: aliceblue;
    transition: 0.5s;
    border-radius: 3px;
    pointer-events: none;
}

.container .linha100 .coluna .inputBox input:focus ~ .linha,
.container .linha100 .coluna .inputBox input:valid ~ .linha{
    height: 100%;
}

.container .linha100 .coluna .inputBox textarea{
    position: relative;
    width: 100%;
    height: 150px;
    padding: 10px 0;
}

.container .linha100 .coluna .inputBox textarea:focus ~ .linha,
.container .linha100 .coluna .inputBox textarea:valid ~ .linha{
    height: 100%;
}

.container .linha100 .coluna input[type="submit"]{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 12px;
    color: #09c6ff;
    font-style: bolder;
    cursor: pointer;
    outline: none;
    background-color: #8ad4d457;
    font-weight: 500;
    font-size: 1.3rem;
}

